In [1]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!python -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from openpyxl) (2.0.0)

In [3]:
import os
import re
import pandas as pd

base_path = r"G:\.shortcut-targets-by-id\1VctTphaltRx4xcPxmTJlRTrxLalyuEt8\Labor Force Survey"

# Month ordering
month_order = {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12
}

# Patterns
month_pattern = re.compile(
    r"(JANUARY|FEBRUARY|MARCH|APRIL|MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER)",
    re.IGNORECASE
)
year_pattern = re.compile(r"(20\d{2})")

# Detect year folders from drive
year_folders = [
    f for f in os.listdir(base_path)
    if os.path.isdir(os.path.join(base_path, f)) and f.isdigit()
]

print("Detected year folders:", sorted(year_folders))

inventory = {}

for year in sorted(year_folders):
    year_path = os.path.join(base_path, year)

    # Accept both CSV and XLSX
    data_files = [
        f for f in os.listdir(year_path)
        if f.lower().endswith(".csv") or f.lower().endswith(".xlsx")
    ]

    inventory[year] = {}

    for file in data_files:
        upper = file.upper()

        # Detect type
        if upper.endswith(".XLSX"):
            filetype = "metadata"  # XLSX = metadata
        else:
            filetype = "survey"    # CSV = survey

        # Detect month
        month_match = month_pattern.search(upper)
        month = (
            month_match.group(1).capitalize()
            if month_match
            else "Unmatched"
        )

        # Detect year inside filename
        year_match = year_pattern.search(upper)
        file_year = year_match.group(1) if year_match else "UNKNOWN"

        # Store into inventory
        if month not in inventory[year]:
            inventory[year][month] = []

        inventory[year][month].append({
            "filename": file,
            "filetype": filetype,
            "file_year": file_year
        })

# Print clean summary
print("\n=== DATASET INVENTORY SUMMARY ===\n")

for yr in sorted(inventory.keys()):
    print(f"Year {yr}:")

    sorted_months = sorted(
        inventory[yr].keys(),
        key=lambda m: month_order.get(m, 99)
    )

    for month in sorted_months:
        print(f"  {month}:")
        for item in inventory[yr][month]:
            print(f"    {item['filename']} ({item['filetype']})")

    print()

Detected year folders: ['2018', '2019', '2022', '2023', '2024']

=== DATASET INVENTORY SUMMARY ===

Year 2018:
  January:
    JANUARY_2018.CSV (survey)
    JANUARY_2018_METADATA.xlsx (metadata)
  April:
    APRIL_2018.CSV (survey)
    APRIL_2018_METADATA.xlsx (metadata)
  July:
    JULY_2018.CSV (survey)
    JULY_2018_METADATA.xlsx (metadata)
  October:
    OCTOBER_2018.CSV (survey)
    OCTOBER_2018_METADATA.xlsx (metadata)
  Unmatched:
    clean_jan_2018_metadata.csv (survey)
    clean_jan_2018_metadata_sheet2.csv (survey)

Year 2019:
  January:
    JANUARY_2019.CSV (survey)
    JANUARY_2019_METADATA.xlsx (metadata)
  April:
    APRIL_2019_METADATA.xlsx (metadata)
    APRIL_2019.CSV (survey)
  July:
    JULY_2019_METADATA.xlsx (metadata)
    JULY_2019.CSV (survey)
  October:
    OCTOBER_2019_METADATA.xlsx (metadata)
    OCTOBER_2019.CSV (survey)

Year 2022:
  January:
    JANUARY_2022.csv (survey)
    JANUARY_2022_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2022.csv (survey)
    FEBRUARY_2022_METADATA.xlsx (metadata)
  March:
    MARCH_2022.csv (survey)
    MARCH_2022_METADATA.xlsx (metadata)
  April:
    APRIL_2022_METADATA.xlsx (metadata)
    APRIL_2022.csv (survey)
  May:
    MAY_2022.csv (survey)
    MAY_2022_METADATA.xlsx (metadata)
  June:
    JUNE_2022.csv (survey)
    JUNE_2022_METADATA.xlsx (metadata)
  July:
    JULY_2022.CSV (survey)
    JULY_2022_METADATA.xlsx (metadata)
  August:
    AUGUST_2022_METADATA.xlsx (metadata)
    AUGUST_2022.CSV (survey)
  September:
    SEPTEMBER_2022.CSV (survey)
    SEPTEMBER_2022_METADATA.xlsx (metadata)
  October:
    OCTOBER_2022.CSV (survey)
    OCTOBER_2022_METADATA.xlsx (metadata)
  November:
    NOVEMBER_2022.CSV (survey)
    NOVEMBER_2022_METADATA.xlsx (metadata)
  December:
    DECEMBER_2022.CSV (survey)
    DECEMBER_2022_METADATA.xlsx (metadata)

Year 2023:
  January:
    JANUARY_2023.CSV (survey)
    JANUARY_2023_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2023.CSV (survey)
    FEBRUARY_2023_METADATA.xlsx (metadata)
  March:
    MARCH_2023.CSV (survey)
    MARCH_2023_METADATA.xlsx (metadata)
  April:
    APRIL_2023.CSV (survey)
    APRIL_2023_METADATA.xlsx (metadata)
  May:
    MAY_2023.CSV (survey)
    MAY_2023_METADATA.xlsx (metadata)
  June:
    JUNE_2023.CSV (survey)
    JUNE_2023_METADATA.xlsx (metadata)
  July:
    JULY_2023.CSV (survey)
    JULY_2023_METADATA.xlsx (metadata)
  August:
    AUGUST_2023.CSV (survey)
    AUGUST_2023_METADATA.xlsx (metadata)
  September:
    SEPTEMBER_2023.CSV (survey)
    SEPTEMBER_2023_METADATA.xlsx (metadata)
  October:
    OCTOBER_2023.CSV (survey)
    OCTOBER_2023_METADATA.xlsx (metadata)
  November:
    NOVEMBER_2023.CSV (survey)
    NOVEMBER_2023_METADATA.xlsx (metadata)
  December:
    DECEMBER_2023.CSV (survey)
    DECEMBER_2023_METADATA.xlsx (metadata)

Year 2024:
  January:
    JANUARY_2024.CSV (survey)
    JANUARY_2024_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2024.CSV (survey)
    FEBRUARY_2024_METADATA.xlsx (metadata)
  March:
    MARCH_2024.CSV (survey)
    MARCH_2024_METADATA.xlsx (metadata)
  April:
    APRIL_2024.CSV (survey)
    APRIL_2024_METADATA.xlsx (metadata)
  May:
    MAY_2024.CSV (survey)
    MAY_2024_METADATA.xlsx (metadata)
  June:
    JUNE_2024.CSV (survey)
    JUNE_2024_METADATA.xlsx (metadata)
  July:
    JULY_2024.CSV (survey)
    JULY_2024_METADATA.xlsx (metadata)
  August:
    AUGUST_2024.CSV (survey)
    AUGUST_2024_METADATA.xlsx (metadata)

In [4]:
def load_dataset(year, month, filetype="survey", sheet_number=None):
    """
    Load a dataset from the inventory.

    year: str, e.g., "2018"
    month: str, e.g., "January"
    filetype: "survey" or "metadata"
    sheet_number: 0(sheet 1) or 1(sheet 2)
    """
    file_info = next(
        (f for f in inventory[year][month] if f["filetype"] == filetype),
        None
    )
    if not file_info:
        raise ValueError(f"No {filetype} file found for {month} {year}")

    file_path = os.path.join(base_path, year, file_info["filename"])
    
    if filetype == "survey":
        return pd.read_csv(file_path, low_memory=False)
    
    if sheet_number is not None:
        return pd.read_excel(file_path, sheet_name=sheet_number)
    
    return pd.read_excel(file_path)

In [5]:
import pandas as pd

# Load the second sheet of January 2018 metadata
second_sheet = load_dataset("2018", "January","metadata", 1)

# View the first few rows
second_sheet.head()

,PUFREG_VS1,Region,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,National Capital Region,13,NaN,NaN
1,NaN,NaN,Cordillera Administrative Region,14,NaN,NaN
2,NaN,NaN,Region I - Ilocos Region,1,NaN,NaN
3,NaN,NaN,Region II - Cagayan Valley,2,NaN,NaN
4,NaN,NaN,Region III - Central Luzon,3,NaN,NaN

In [6]:
# Load the second sheet of January 2018 metadata
second_sheet = load_dataset("2018", "January","metadata", 0)

# View the first few rows
second_sheet.head()

,QUEST,Questionnaire,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,_IDS0,(Id Items),NaN,NaN
1,NaN,NaN,NaN,NaN,PUFREG,Region
2,NaN,NaN,NaN,NaN,PUFPRV,Province
3,NaN,NaN,NaN,NaN,PUFPRRCD,Province Recode
4,NaN,NaN,NaN,NaN,PUFHHNUM,Household Unique Sequential Number

In [7]:
def extract_variables(df):
    """
    Extract variable names and descriptions from metadata DataFrame.
    Looks for values in columns 'Unnamed: 4' (variable) and 'Unnamed: 5' (description).
    Returns a clean DataFrame with ['Variable', 'Description'].
    """

    # Keep only rows where column 4 has a variable name
    filtered = df[df['Unnamed: 4'].notna()][['Unnamed: 4', 'Unnamed: 5']]

    # Rename columns
    filtered.columns = ['Variable', 'Description']

    return filtered

In [8]:
# Load metadata
January_metadata = load_dataset("2018", "January", "metadata", 0)

# Call your function
variables_df = extract_variables(January_metadata)

# View results
variables_df.head(50)

           Variable                                        Description
1            PUFREG                                             Region
2            PUFPRV                                           Province
3          PUFPRRCD                                    Province Recode
4          PUFHHNUM                 Household Unique Sequential Number
6        PUFURB2K10                                2010Urban-RuralFIES
7        PUFPWGTPRV  Final Weight Based on Projection (provincial p...
8          PUFSVYMO                                       Survey Month
9          PUFSVYYR                                        Survey Year
10           PUFPSU                                         Psu Number
11           PUFRPL                                          Replicate
12        PUFHHSIZE                                     Household Size
13       PUFC01_LNO                                   C101-Line Number
14       PUFC03_REL                 C03-Relationship to Household Head
15       PUFC04_SEX                                            C04-Sex
16       PUFC05_AGE                        C05-Age as of Last Birthday
17     PUFC06_MSTAT                                 C06-Marital Status
18     PUFC07_GRADE                        C07-Highest Grade Completed
19    PUFC08_CURSCH                     C08-Currently Attending School
20  PUFC09_GRADTECH        C09-Graduate of technical/vocational course
21     PUFC10_CONWR                    C10-Overseas Filipino Indicator
22      PUFC11_WORK                                 C11-Work Indicator
23       PUFC12_JOB                                  C12-Job Indicator
24     PUFC14_PROCC                             C14-Primary Occupation
25       PUFC16_PKB          C16-Kind of Business (Primary Occupation)
26     PUFC17_NATEM      C17-Nature of Employment (Primary Occupation)
27    PUFC18_PNWHRS                   C18-Normal Working Hours per Day
28    PUFC19_PHOURS  C19-Total Number of Hours Worked during the pa...
29    PUFC20_PWMORE                        C20-Want More Hours of Work
30    PUFC21_PLADDW                       C21-Look for Additional Work
31     PUFC22_PFWRK                             C22-First Time to Work
32    PUFC23_PCLASS           C23-Class of Worker (Primary Occupation)
33    PUFC24_PBASIS          C24-Basis of Payment (Primary Occupation)
34    PUFC25_PBASIC         C25-Basic Pay per Day (Primary Occupation)
35      PUFC26_OJOB                            C26-Other Job Indicator
36     PUFC27_NJOBS            C27-Number of Jobs during the past week
37    PUFC28_THOURS                C28-Total Hours Worked for all Jobs
38    PUFC29_WWM48H  C29-Reasons for Working More than 48 Hours dur...
39     PUFC30_LOOKW  C30-Looked for Work or Tried to Establish Busi...
40     PUFC31_FLWRK                    C31-First Time to Look for Work
41     PUFC32_JOBSM                              C32-Job Search Method
42     PUFC33_WEEKS      C33-Number of Weeks Spent in Looking for Work
43     PUFC34_WYNOT                C34-Reason for not Looking for Work
44   PUFC35_LTLOOKW                      C35-When Last Looked for Work
45     PUFC36_AVAIL                             C36-Available for Work
46   PUFC37_WILLING  C37-Willingness to take up work during the pas...
47   PUFC38_PREVJOB                         C38-Previous Job Indicator
48      PUFC40_POCC                            C40-Previous Occupation
49      PUFC41_WQTR  C41-Did work or had a job during the past quarter
50       PUFC43_QKB                C43-Kind of Business (past quarter)
51    PUFNEWEMPSTAT             New Employment Criteria (jul 05, 2005)

In [9]:
sheet2_jan2018 = load_dataset(year="2018", month="January", filetype="metadata", sheet_number=1)

print("Raw metadata sheet:")
print(sheet2_jan2018.head(20))
print(sheet2_jan2018.columns)
print(sheet2_jan2018.shape)

Raw metadata sheet:
        PUFREG_VS1               Region                            Unnamed: 2  \
0              NaN                  NaN               National Capital Region
1              NaN                  NaN      Cordillera Administrative Region
2              NaN                  NaN              Region I - Ilocos Region
3              NaN                  NaN            Region II - Cagayan Valley
4              NaN                  NaN            Region III - Central Luzon
5              NaN                  NaN               Region IVA - CALABARZON
6              NaN                  NaN                 Region IVB - MIMAROPA
7              NaN                  NaN                       Region V- Bicol
8              NaN                  NaN           Region VI - Western Visayas
9              NaN                  NaN          Region VII - Central Visayas
10             NaN                  NaN         Region VIII - Eastern Visayas
11             NaN                  NaN       Region IX - Zamboanga Peninsula
12             NaN                  NaN          Region X - Northern Mindanao
13             NaN                  NaN                     Region XI - Davao
14             NaN                  NaN             Region XII - SOCCSKSARGEN
15             NaN                  NaN                  Region XIII - Caraga
16             NaN                  NaN  Autonomous Region in Muslim Mindanao
17             NaN                  NaN                                   NaN
18  PUFURB2K10_VS1  2010Urban-RuralFIES                                   NaN
19             NaN                  NaN                                 Urban

   Unnamed: 3  Unnamed: 4 Unnamed: 5
0          13         NaN        NaN
1          14         NaN        NaN
2           1         NaN        NaN
3           2         NaN        NaN
4           3         NaN        NaN
5           4         NaN        NaN
6          17         NaN        NaN
7           5         NaN        NaN
8           6         NaN        NaN
9           7         NaN        NaN
10          8         NaN        NaN
11          9         NaN        NaN
12         10         NaN        NaN
13         11         NaN        NaN
14         12         NaN        NaN
15         16         NaN        NaN
16         15         NaN        NaN
17        NaN         NaN        NaN
18        NaN         NaN        NaN
19          1         NaN        NaN
Index(['PUFREG_VS1', 'Region', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')
(488, 6)

In [10]:
import os
import re
import pandas as pd

# ============================================================
#   Reshape function for metadata Sheet 2
# ============================================================
def process_metadata_sheet_binary1(df):
    """
    Reshape metadata Sheet 2 (binary=1):
    - Variable = col 0, Label/Description = col 1, Category = col 2
    - min_val/max_val:
        * Scan columns 3,4,5 left-to-right for numeric values (int or float-like).
        * First numeric → min_val; second numeric → max_val.
        * If Category has an explicit range (e.g., "15-24", "15 to 24", "15 and over"),
          prefer the first two integers from Category as min/max.
    - additional_value:
        * Strictly from col 5 (index 5) only if it's non-numeric text; else 0.
    """

    # Normalize blanks to empty strings; keep everything as text for parsing
    df = df.fillna('').astype(str).reset_index(drop=True)

    def extract_ints(text):
        # grab integers from text (handles "47.0" by extracting 47)
        return [int(m.group()) for m in re.finditer(r"\d+", text)] if text else []

    def looks_like_range(text):
        s = text.lower()
        return ("-" in s) or ("–" in s) or (" to " in s) or ("and over" in s)

    def is_numeric_text(s):
        s = s.strip()
        if s == "":
            return False
        # Accept integers or floats like "47", "47.0"
        return bool(re.fullmatch(r"[+-]?\d+(?:\.\d+)?", s))

    def to_int_safe(s):
        # Convert numeric strings (int/float-like) to int
        try:
            return int(float(s.strip()))
        except Exception:
            return 0

    def clean_additional(val):
        s = val.strip()
        if s == "" or s.lower() in {"n/a", "na", "not applicable", "none"}:
            return 0
        # Only keep if non-numeric text
        return s

    records = []
    current_var = ""
    current_label = ""

    for _, row in df.iterrows():
        # Ensure at least 6 columns; pad missing with ""
        cells = [row.iloc[i].strip() if i < len(row) else "" for i in range(6)]

        # Carry forward context
        if cells[0]:
            current_var = cells[0]
        if cells[1]:
            current_label = cells[1]

        category = cells[2].strip()
        if not category:
            continue

        # Determine min/max
        min_val = max_val = 0

        # Priority 1: explicit range in Category
        cat_ints = extract_ints(category)
        if looks_like_range(category) and len(cat_ints) >= 2:
            min_val, max_val = cat_ints[0], cat_ints[1]
        else:
            # Priority 2: scan cols 3..5 left-to-right for numeric tokens
            numeric_tokens = []
            for c in (cells[3], cells[4], cells[5]):
                if is_numeric_text(c):
                    numeric_tokens.append(to_int_safe(c))

            if len(numeric_tokens) >= 1:
                min_val = numeric_tokens[0]
            if len(numeric_tokens) >= 2:
                max_val = numeric_tokens[1]
            # Fallback: if no numeric in cols 3..5 but Category itself is a single number
            elif len(numeric_tokens) == 0 and category.isdigit():
                min_val = int(category)
                max_val = 0

        # Additional value: strictly col 5, only if non-numeric text
        if is_numeric_text(cells[5]):
            additional_value = 0
        else:
            additional_value = clean_additional(cells[5])

        records.append({
            "Variable": current_var,
            "Label": current_label,
            "Category": category,
            "min_val": min_val,
            "max_val": max_val,
            "additional_value": additional_value
        })

    return pd.DataFrame.from_records(
        records,
        columns=["Variable","Label","Category","min_val","max_val","additional_value"]
    )

In [11]:
# ============================================================
#   Loader function (unchanged interface)
# ============================================================
def load_dataset(year, month, filetype="survey", sheet_number=None):
    file_info = next(
        (f for f in inventory[year][month] if f["filetype"] == filetype),
        None
    )
    if not file_info:
        raise ValueError(f"No {filetype} file found for {month} {year}")

    file_path = os.path.join(base_path, year, file_info["filename"])

    if filetype == "survey":
        return pd.read_csv(file_path, low_memory=False)

    # Read metadata as raw data
    df = pd.read_excel(file_path, sheet_name=sheet_number, header=None)

    # Auto-reshape only for Sheet 2
    if sheet_number == 1:
        df = process_metadata_sheet_binary1(df)

    return df

# ============================================================
#   Tester for January 2018 for reproducibility)
# ============================================================
sheet2_jan2018 = load_dataset(year="2018", month="January", filetype="metadata", sheet_number=1)
("January 2018 (Sheet 2) preview:")
(sheet2_jan2018.tail(10))

,Variable,Label,Category,min_val,max_val,additional_value
376,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Public Administration and Defense; Compulsory ...,84,0,0
377,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Education,85,0,0
378,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Human Health and Social Work Activities,86,88,0
379,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),"Arts, Entertainment and Recreation",90,93,0
380,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Other Service Activities,94,96,0
381,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Activities of Households as Employers,97,98,0
382,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Activities of Extraterritorial Organizations a...,99,0,0
383,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",EMPLOYED,1,0,0
384,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",UNEMPLOYED,2,0,0
385,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",NOT IN THE LABOR FORCE,3,0,0

In [12]:
# ============================================================
#   Tester for April 2018 for reproducibility)
# ============================================================
sheet2_apr2018 = load_dataset(year="2018", month="April", filetype="metadata", sheet_number=1)
("April 2018 (Sheet 2) preview:")
(sheet2_apr2018.tail(10))

,Variable,Label,Category,min_val,max_val,additional_value
344,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Public Administration and Defense; Compulsory ...,84,0,0
345,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Education,85,0,0
346,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Human Health and Social Work Activities,86,88,0
347,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),"Arts, Entertainment and Recreation",90,93,0
348,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Other Service Activities,94,96,0
349,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Activities of Households as Employers,97,98,0
350,PUFC43_QKB_VS1,C43-Kind of Business (past quarter),Activities of Extraterritorial Organizations a...,99,0,0
351,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",EMPLOYED,1,0,0
352,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",UNEMPLOYED,2,0,0
353,PUFNEWEMPSTAT_VS1,"New Employment Criteria (jul 05, 2005)",NOT IN THE LABOR FORCE,3,0,0

##### VERIFIER IF RESHAPED RETAINED ORIGINAL VALUES (REPRODUCIBLE ACROSS ALL METADATA, FOR SHEET 2)

In [13]:
import pandas as pd
import os

def verify_accuracy(year, month, sheet_number=1, sample_errors=10):
    """
    Formal verification of reshaping accuracy.
    Compares raw vs reshaped categories and reports precision, recall, F1-score.
    Also prints mismatched samples for inspection.
    """

    # --- Load raw Excel sheet (no reshaping) ---
    file_info = next((f for f in inventory[year][month] if f["filetype"]=="metadata"), None)
    if not file_info:
        raise ValueError(f"No metadata file found for {month} {year}")

    file_path = os.path.join(base_path, year, file_info["filename"])
    raw_df = pd.read_excel(file_path, sheet_name=sheet_number, header=None)

    # --- Load reshaped version ---
    reshaped_df = load_dataset(year=year, month=month, filetype="metadata", sheet_number=sheet_number)

    # Normalize categories: strip, lowercase, drop blanks/nan
    raw_categories = set(
        raw_df.iloc[:,2].astype(str).str.strip().str.lower().replace({"nan":""}).unique()
    )
    raw_categories.discard("")
    reshaped_categories = set(
        reshaped_df["Category"].astype(str).str.strip().str.lower().unique()
    )
    reshaped_categories.discard("")

    # Compare sets
    overlap = raw_categories & reshaped_categories
    only_in_raw = raw_categories - reshaped_categories
    only_in_reshaped = reshaped_categories - raw_categories

    # Metrics
    recall = len(overlap) / len(raw_categories) * 100 if raw_categories else 0
    precision = len(overlap) / len(reshaped_categories) * 100 if reshaped_categories else 0
    f1 = (2 * precision * recall / (precision + recall)) if (precision + recall) else 0

    print(f"\n=== {month} {year} Metadata Sheet {sheet_number} ===")
    print(f"Raw categories: {len(raw_categories)} | Reshaped categories: {len(reshaped_categories)}")
    print(f"Overlap: {len(overlap)}")
    print(f"Recall (coverage of raw): {recall:.2f}%")
    print(f"Precision (accuracy of reshaped): {precision:.2f}%")
    print(f"F1-score: {f1:.2f}%")

    if only_in_raw:
        print(f"\nMissing from reshaped ({len(only_in_raw)}):")
        for val in list(only_in_raw)[:sample_errors]:
            print("  -", val)
    if only_in_reshaped:
        print(f"\nExtra in reshaped ({len(only_in_reshaped)}):")
        for val in list(only_in_reshaped)[:sample_errors]:
            print("  -", val)

    return {"recall": recall, "precision": precision, "f1": f1}

# ============================================================
#   Reproducibility tests
# ============================================================

acc_jan = verify_accuracy("2018", "January", sheet_number=1)
acc_apr = verify_accuracy("2018", "April", sheet_number=1)

print("\n=== Reproducibility check ===")
print(f"January 2018 -> Recall: {acc_jan['recall']:.2f}%, Precision: {acc_jan['precision']:.2f}%, F1: {acc_jan['f1']:.2f}%")
print(f"April 2018   -> Recall: {acc_apr['recall']:.2f}%, Precision: {acc_apr['precision']:.2f}%, F1: {acc_apr['f1']:.2f}%")

=== January 2018 Metadata Sheet 1 ===
Raw categories: 289 | Reshaped categories: 289
Overlap: 289
Recall (coverage of raw): 100.00%
Precision (accuracy of reshaped): 100.00%
F1-score: 100.00%

=== April 2018 Metadata Sheet 1 ===
Raw categories: 294 | Reshaped categories: 294
Overlap: 294
Recall (coverage of raw): 100.00%
Precision (accuracy of reshaped): 100.00%
F1-score: 100.00%

=== Reproducibility check ===
January 2018 -> Recall: 100.00%, Precision: 100.00%, F1: 100.00%
April 2018   -> Recall: 100.00%, Precision: 100.00%, F1: 100.00%